  <main>

    <!--Nav Bar 2-->
    <section id="navBar" style="background-color: #86B6F6;">
      <div class="container mb-1 justify-content-center">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 px-0">

          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            
            <div style="justify-content: center;">

              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-search mb-2" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>

            <span class="fs-4 mx-1" style="color: #ffffff; font-weight: 600;"  >Weather LookUp</span>

            </div>

          </a>

          <!-- <a href="https://www.weatherapi.com/signup.aspx" class="btn navBar-btn-primary ms-3" aria-current="page" style="color: #176B87; font-weight: 500; min-width: 20rem;">Get Your API Key</a> -->
    
          <ul class="nav nav-pills ">
            <li class="nav-item ms-3"><a href="/contact" class="btn navBar-btn-other" style="font-weight: 500;" >Contact Me</a></li>
          </ul>
        </header>
      </div>
    </section>
